################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WeixinTraceMamager.Web/bin
/WeixinTraceMamager.Web/obj
/WeixinTraceMamager.Web.Tests/bin/Debug
/WeixinTraceMamager.Web.Tests/obj
/Senparc.Weixin.Plugins.WeixinTraceManager/bin/Debug
/Senparc.Weixin.Plugins.WeixinTraceManager/obj
*.user
/.vs
/packages
